:root {
    --palletColor1: #ACADBC;
    --palletColor2: #9B9ECE;
    --palletColor3: #6665DD;
    --palletColor4: #473BF0;
    --palletColor5: #000500;
  }

html{
    height: 100%;
}

#inputField{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 7.5%;
}

#clockBody{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

#pauseContainer{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

#endingBody{
    align-content: center;
    justify-content: center;
    text-align: center;
}

.body1{
    height: 100%;
    margin: 0px;
}

.heading{
    height: 10%;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 7%;
    background-color: var(--palletColor4);
}

.input1{
    height: 90%;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: var(--palletColor2);
}

.playerClock{
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
}

.playerClockActive{
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 3%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
    background-color: lightgrey;
}

.pauseBtn{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
}

.pauseBtnActive{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1%;
    background-color: lightgrey;
}

.headingTitleText{
    color: var(--palletColor1);
    font-size: 3.5vw;
}
.headingSubTitleText{
    color: var(--palletColor1);
    font-size: 1vw;
}